.App {
  text-align: center;
}

.further-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 4% 0%;
}

.further-link {
  text-decoration: underline;
  color: rgb(53, 53, 109);
}
.success-container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-container {
  margin: 1%;
  padding: 1%;
}
.form-container {
  height: 500px;
  width: 80%;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  width: 100%;
  margin: 2%;
}
.headers {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.add-user {
  align-self: flex-end;
}

.drop-down {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.dashboard-cards-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 4% 2%;

  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @keyframes scale-up-top {
    0% {
      transform: scale(0.5);
      transform-origin: 50% 0%;
    }
    100% {
      transform: scale(1);
      transform-origin: 50% 0%;
    }
  }
}
.cards {
  transition: transform 0.2s ease-in-out;
  transform-origin: center center;

  &:hover {
    transform: scale(1.1);
  }
}
