.App {
  text-align: center;
}

.further-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 4% 0%;
}

.further-link {
  text-decoration: underline;
  color: rgb(53, 53, 109);
}
.success-container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-container {
  margin: 1%;
  padding: 1%;
}
.form-container {
  height: 500px;
  width: 80%;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  width: 100%;
  margin: 2%;
}
.headers {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.add-user {
  align-self: flex-end;
}

.drop-down {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}
