.App {
  text-align: center;
}

.further-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 4% 0%;
}

.further-link {
  text-decoration: underline;
  color: rgb(53, 53, 109);
}
.success-container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-container {
  margin: 1%;
  padding: 1%;
}
.form-container {
  height: 500px;
  width: 80%;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  width: 100%;
  margin: 2%;
}
.headers {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.add-user {
  align-self: flex-end;
}

.drop-down {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.dashboard-cards-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 4% 2%;

  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @keyframes scale-up-top {
    0% {
      transform: scale(0.5);
      transform-origin: 50% 0%;
    }
    100% {
      transform: scale(1);
      transform-origin: 50% 0%;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.cards {
  transition: transform 0.2s ease-in-out;
  transform-origin: center center;

  &:hover {
    transform: scale(1.1);
  }
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25%;
}
.header-container {
  height: 65px;
  background: #1976d2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.container {
  background: rgb(237, 233, 233);
  height: 100vh;
}
.body-container {
  height: 100vh;

  display: flex;
  gap: 5%;
}
.data-table {
  // background: green;
  flex: 7;
  margin: 6% 4%;
}
.chart-data {
  background: blue;
  flex: 2;
}
.search-div {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
}

.createform-container {
  height: 900px;

  // margin: 15%;
  // padding: 2% 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//
.main-container {
  height: 100vh;
}
.forms {
  width: 60%;
}

.service-title {
  background: rgb(218, 215, 215);
  height: 80px;
  margin-bottom: 2%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 2%;
  border-radius: 20px;
}
.service-data {
  background: rgb(218, 215, 215);
  height: 400px;
  padding: 2%;
  border-radius: 20px;
  text-align: left;
}
.task-details {
  font-weight: 600;
}
.task-heading {
  color: #414245;
  font-weight: 600;
  padding: 1% 2%;
}
.seemore-details {
  display: flex;

  align-items: center;
}
.contact-info {
  color: wheat;
  margin-top: 20%;
}
.customerData {
  background: rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  height: 300px;
  padding: 2%;
  border: 2px solid black;
  border-radius: 20px;
  color: white;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
