.App {
  text-align: center;
}

.further-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.further-link {
  text-decoration: underline;
  color: rgb(53, 53, 109);
}
